
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.calendar-header button {
    background-color: #fff;
    color: #1f201a;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.calendar-header button:hover {
    background-color: #f0f0f0;
    color: #262624;
}

.calendar-header select {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 10px;
    transition: border-color 0.3s, background-color 0.3s;
}

.calendar-header select:focus {
    outline: none;
    border-color: #4285f4;
}

.calendar-header select:hover {
    background-color: #f2f2f2;
}


.calendar-header select option {
    background-color: #fff;
    color: #333;
}

@media screen and (max-width: 767px) {
    .calendar-header {
        padding: 10px;
        width: 280px;
    }

    .calendar-header button {
        font-size: 7px;
        padding: 3px 8px;
    }

    .calendar-header select {
        font-size: 7px;
        padding: 3px 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {

    .calendar-header {
        padding: 15px 20px;
    }

    .calendar-header button {
        font-size: 7px;
        padding: 3px 8px;
    }
    .calendar-header select {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media screen and (min-width: 1366px) {
    .calendar-header {
        padding: 20px 20px;
    }

    .calendar-header button {
        font-size: 18px;
        padding: 7px 12px;
    }

    .calendar-header select {
        font-size: 16px;
        padding: 7px 12px;
    }
}
